{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	 About
{% endblock %}

{% block body_block %}
        <h1></h1>
        <div>
           This tutorial has been put together by David Stuart<br />
       
        </div>
        <div>
            <a href="/rango/">Index</a><br />
			
			<img src="{%static "images/panther.jpg" %}"
				alt="Picture of a panther" /><br />
				
			<img src="{{MEDIA_URL}}cat.jpg"
				alt="Picture of a cat" /> 
	    </div>
		
			
{% endblock %}

